<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta
            name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Graduate Student Tracking System</title>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
            crossorigin="anonymous"
    />
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <link rel="stylesheet" href="/stylesheet.css"/>
</head>
<body onload="checkStatus('<%= JSON.stringify(data) %>')">
<%
let capstone;
switch (info['capstone']) {
    case "research":
        capstone = "Independent Research"
        break;
    case "practicum":
        capstone = "Practicum Experience"
        break;
}
let total = 0;
let graduate = true;
for (let category of Object.keys(data)) {
    total += data[category]['progress']['credit'];
} %>
<div class="container">
    <div class="block top">
        <div class="card">
            <h3 class="center"><b>Graduate Student Tracking System</b></h3>
            </h3>
        </div>
    </div>
    <div class="block">
        <div class="card">
            <h4 class="center"><b>Degree Audit</b></h4>
            <ul class="list-group">
                <li>Program: <b><%= info['program'] %></b></li>
                <li>Specialization: <b><%= info['specialization'] ? info['specialization'] : "Not Chosen" %></b></li>
                <li>Capstone: <b><%= capstone %></b></li>
            </ul>
            <div class="one-line operate">
                <button
                        type="button"
                        class="button-back"
                        onclick="window.history.back()"
                >
                    Back to Add Courses
                </button>
                <button class="button-print" onclick="window.print()">
                    Print This Page
                </button>
            </div>
            <div class="one-line note">
                <div class="check">&#x2611;</div>
                <div>Completed</div>
                <div class="warning1">&#9888;</div>
                <div>In Progress</div>
                <div class="warning2">&#x2612;</div>
                <div>Not Started</div>
            </div>
            <div class="table-responsive">
                <table class="table">
                    <thead align="center">
                    <tr class="table-warning">
                        <th scope="col">Category</th>
                        <th scope="col">Progress</th>
                        <th scope="col">Taken</th>
                        <th scope="col">Recommended</th>
                        <th scope="col">Credits</th>
                        <th scope="col">Status</th>
                    </tr>
                    </thead>
                    <tbody class="table-group-divider">
                    <tr
                            class="<%= data['information']['progress']['takenNum'] < data['information']['progress']['requiredNum'] ? 'warn' : null %>"
                    >
                        <th scope="row" class="table-success">Information</th>
                        <td>
                            <%= data['information']['progress']['takenNum'] %>/<%=
                            data['information']['progress']['requiredNum'] %>
                        </td>
                        <td>
                            <% for (let i = 0; i <
                            data['information']['taken'].length; i++){ %> <%=
                                data['information']['taken'][i] %><br/>
                            <% } %>
                        </td>
                        <td>
                            <% for (let i = 0; i <
                            data['information']['recommend'].length; i++){ %> <%=
                                data['information']['recommend'][i] %><br/>
                            <% } %>
                        </td>
                        <td>
                            <%= data['information']['progress']['credit'] %>
                        </td>
                        <td id="information-status"></td>
                    </tr>
                    <tr
                            class="<%= data['servicesAndOrganizations']['progress']['takenNum'] < data['servicesAndOrganizations']['progress']['requiredNum'] ? 'warn' : null %>"
                    >
                        <th scope="row" class="table-success">
                            Services and Organizations
                        </th>
                        <td>
                            <%=
                            data['servicesAndOrganizations']['progress']['takenNum']
                            %>/<%=
                            data['servicesAndOrganizations']['progress']['requiredNum']
                            %>
                        </td>
                        <td>
                            <% for (let i = 0; i <
                            data['servicesAndOrganizations']['taken'].length; i++){
                            %> <%= data['servicesAndOrganizations']['taken'][i]
                            %><br/>
                            <% } %>
                        </td>
                        <td>
                            <% for (let i = 0; i <
                            data['servicesAndOrganizations']['recommend'].length;
                                    i++){ %> <%=
                                data['servicesAndOrganizations']['recommend'][i] %><br/>
                            <% } %>
                        </td>
                        <td>
                            <%=
                            data['servicesAndOrganizations']['progress']['credit']
                            %>
                        </td>
                        <td id="servicesAndOrganizations-status"></td>
                    </tr>
                    <tr
                            class="<%= data['technology']['progress']['takenNum'] < data['technology']['progress']['requiredNum'] ? 'warn' : null %>"
                    >
                        <th scope="row" class="table-success">Technology</th>
                        <td>
                            <%= data['technology']['progress']['takenNum'] %>/<%=
                            data['technology']['progress']['requiredNum'] %>
                        </td>
                        <td>
                            <% for (let i = 0; i <
                            data['technology']['taken'].length; i++){ %> <%=
                                data['technology']['taken'][i] %><br/>
                            <% } %>
                        </td>
                        <td>
                            <% for (let i = 0; i <
                            data['technology']['recommend'].length; i++){ %> <%=
                                data['technology']['recommend'][i] %><br/>
                            <% } %>
                        </td>
                        <td>
                            <%= data['technology']['progress']['credit'] %>
                        </td>
                        <td id="technology-status"></td>
                    </tr>
                    <tr
                            class="<%= data['peopleAndCommunities']['progress']['takenNum'] < data['peopleAndCommunities']['progress']['requiredNum'] ? 'warn' : null %>"
                    >
                        <th scope="row" class="table-success">
                            People and Communication
                        </th>
                        <td>
                            <%= data['peopleAndCommunities']['progress']['takenNum']
                            %>/<%=
                            data['peopleAndCommunities']['progress']['requiredNum']
                            %>
                        </td>
                        <td>
                            <% for (let i = 0; i <
                            data['peopleAndCommunities']['taken'].length; i++){ %>
                                <%= data['peopleAndCommunities']['taken'][i] %><br/>
                            <% } %>
                        </td>
                        <td>
                            <% for (let i = 0; i <
                            data['peopleAndCommunities']['recommend'].length; i++){
                            %> <%= data['peopleAndCommunities']['recommend'][i]
                            %><br/>
                            <% } %>
                        </td>
                        <td>
                            <%= data['peopleAndCommunities']['progress']['credit']
                            %>
                        </td>
                        <td id="peopleAndCommunities-status"></td>
                    </tr>
                    <tr
                            class="<%= data['core']['progress']['takenNum'] < data['core']['progress']['requiredNum'] ? 'warn' : null %>"
                    >
                        <th scope="row" class="table-primary">Core</th>
                        <td>
                            <%= data['core']['progress']['takenNum'] %>/<%=
                            data['core']['progress']['requiredNum'] %>
                        </td>
                        <td>
                            <% for (let i = 0; i < data['core']['taken'].length;
                                    i++){ %> <%= data['core']['taken'][i] %><br/>
                            <% } %>
                        </td>
                        <td>
                            <% for (let i = 0; i < data['core']['recommend'].length;
                                    i++){ %> <%= data['core']['recommend'][i] %><br/>
                            <% } %>
                        </td>
                        <td>
                            <%= data['core']['progress']['credit'] %>
                        </td>
                        <td id="core-status"></td>
                    </tr>
                    <tr
                            class="<%= data['capstone']['progress']['takenNum'] < data['capstone']['progress']['requiredNum'] ? 'warn' : null %>"
                    >
                        <th scope="row" class="table-info">Capstone</th>
                        <td>
                            <%= data['capstone']['progress']['takenNum'] %>/<%=
                            data['capstone']['progress']['requiredNum'] %>
                        </td>
                        <td>
                            <% for (let i = 0; i < data['capstone']['taken'].length;
                                    i++){ %> <%= data['capstone']['taken'][i] %><br/>
                            <% } %>
                        </td>
                        <td>
                            <% for (let i = 0; i <
                            data['capstone']['recommend'].length; i++){ %> <%=
                                data['capstone']['recommend'][i] %><br/>
                            <% } %>
                        </td>
                        <td>
                            <%= data['capstone']['progress']['credit'] %>
                        </td>
                        <td id="capstone-status"></td>
                    </tr>
                    <tr
                            class="<%= data['elective']['progress']['takenNum'] < data['elective']['progress']['requiredNum'] ? 'warn' : null %>"
                    >
                        <td class="tb-center">
                        <td>
                            <%= data['elective']['progress']['takenNum'] %>/<%=
                            data['elective']['progress']['requiredNum'] %>
                        </td>
                        <td>
                            <% for (let i = 0; i < data['elective']['taken'].length;
                                    i++){ %> <%= data['elective']['taken'][i] %><br/>
                            <% } %>
                        </td>
                        <td>
                            <% for (let i = 0; i <
                            data['elective']['recommend'].length; i++){ %> <%=
                                data['elective']['recommend'][i] %><br/>
                            <% } %>
                        </td>
                        <td>
                            <%= data['elective']['progress']['credit'] %>
                        </td>
                        <td id="elective-status"></td>
                    </tr>
                    <tr>
                        <th scope="row" class="table-dark">Total Credits</th>
                        <td
                                colspan="5"
                                style="font-weight: 650"
                        >
                            <%= total %>/48
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>

<script>
    function checkStatus(data) {
        const parsedData = JSON.parse(data);
        const keys = Object.keys(parsedData);
        const ids = keys.map((element) => element + "-status");
        for (let i = 0; i < keys.length; i++) {
            const elective = document.getElementById(ids[i]);
            if (
                parsedData[keys[i]]["progress"]["takenNum"] >=
                parsedData[keys[i]]["progress"]["requiredNum"]
            ) {
                elective.innerHTML = "&#x2611;";
                    elective.className = "check";
            } else if (parsedData[keys[i]]["progress"]["takenNum"] == 0) {
                elective.innerHTML = "&#x2612;";
                elective.className = "warning2";
            } else if (
                parsedData[keys[i]]["progress"]["takenNum"] <
                parsedData[keys[i]]["progress"]["requiredNum"]
            ) {
                elective.innerHTML = "&#9888;";
                    elective.className = "warning1";
            }
        }
    }
</script>
