<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Graduate Student Tracking System</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheet.css">
</head>
<body>

<% let total = 0;
for (let category of Object.keys(data)){
    total += data[category]['progress']['credit'];
}%>
<div class="container">
    <div class="row">
        <div class="mb-3">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title text-center">
                        Graduate Student Tracking System
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">Degree Audit</h5>
                    <p class="card-text">Some text here.</p>
                    <div class="table-responsive">
                        <table class="table table-bordered center">
                            <thead>
                            <tr class="table-warning">
                                <th scope="col">Category</th>
                                <th scope="col">Progress</th>
                                <th scope="col">Taken</th>
                                <th scope="col">Recommended</th>
                                <th scope="col">Credits</th>
                            </tr>
                            </thead>
                            <tbody class="table-group-divider">
                            <tr>
                                <th scope="row" class="table-primary">Core</th>
                                <td><%= data['core']['progress']['takenNum'] %>
                                    /<%= data['core']['progress']['requiredNum'] %></td>
                                <td>
                                    <% for (let i = 0; i < data['core']['taken'].length; i++){ %>
                                        <%= data['core']['taken'][i] %><br>
                                    <% } %>
                                </td>
                                <td>
                                    <% for (let i = 0; i < data['core']['recommend'].length; i++){ %>
                                        <%= data['core']['recommend'][i] %><br>
                                    <% } %>
                                </td>
                                <td><%= data['core']['progress']['credit'] %></td>
                            </tr>
                            <tr>
                                <th scope="row" class="table-success">Information</th>
                                <td><%= data['information']['progress']['takenNum'] %>
                                    /<%= data['information']['progress']['requiredNum'] %></td>
                                <td>
                                    <% for (let i = 0; i < data['information']['taken'].length; i++){ %>
                                        <%= data['information']['taken'][i] %><br>
                                    <% } %>
                                </td>
                                <td>
                                    <% for (let i = 0; i < data['information']['recommend'].length; i++){ %>
                                        <%= data['information']['recommend'][i] %><br>
                                    <% } %>
                                </td>
                                <td><%= data['information']['progress']['credit'] %></td>
                            </tr>
                            <tr>
                                <th scope="row" class="table-success">Services and Organizations</th>
                                <td><%= data['servicesAndOrganizations']['progress']['takenNum'] %>
                                    /<%= data['servicesAndOrganizations']['progress']['requiredNum'] %></td>
                                <td>
                                    <% for (let i = 0; i < data['servicesAndOrganizations']['taken'].length; i++){ %>
                                        <%= data['servicesAndOrganizations']['taken'][i] %><br>
                                    <% } %>
                                </td>
                                <td>
                                    <% for (let i = 0; i < data['servicesAndOrganizations']['recommend'].length; i++){ %>
                                        <%= data['servicesAndOrganizations']['recommend'][i] %><br>
                                    <% } %>
                                </td>
                                <td><%= data['servicesAndOrganizations']['progress']['credit'] %></td>
                            </tr>
                            <tr>
                                <th scope="row" class="table-success">Technology</th>
                                <td><%= data['technology']['progress']['takenNum'] %>
                                    /<%= data['technology']['progress']['requiredNum'] %></td>
                                <td>
                                    <% for (let i = 0; i < data['technology']['taken'].length; i++){ %>
                                        <%= data['technology']['taken'][i] %><br>
                                    <% } %>
                                </td>
                                <td>
                                    <% for (let i = 0; i < data['technology']['recommend'].length; i++){ %>
                                        <%= data['technology']['recommend'][i] %><br>
                                    <% } %>
                                </td>
                                <td><%= data['technology']['progress']['credit'] %></td>
                            </tr>
                            <tr>
                                <th scope="row" class="table-success">People and Communication</th>
                                <td><%= data['peopleAndCommunities']['progress']['takenNum'] %>
                                    /<%= data['peopleAndCommunities']['progress']['requiredNum'] %></td>
                                <td>
                                    <% for (let i = 0; i < data['peopleAndCommunities']['taken'].length; i++){ %>
                                        <%= data['peopleAndCommunities']['taken'][i] %><br>
                                    <% } %>
                                </td>
                                <td>
                                    <% for (let i = 0; i < data['peopleAndCommunities']['recommend'].length; i++){ %>
                                        <%= data['peopleAndCommunities']['recommend'][i] %><br>
                                    <% } %>
                                </td>
                                <td><%= data['peopleAndCommunities']['progress']['credit'] %></td>
                            </tr>
                            <tr>
                                <th scope="row" class="table-info">Capstone</th>
                                <td><%= data['capstone']['progress']['takenNum'] %>
                                    /<%= data['capstone']['progress']['requiredNum'] %></td>
                                <td>
                                    <% for (let i = 0; i < data['capstone']['taken'].length; i++){ %>
                                        <%= data['capstone']['taken'][i] %><br>
                                    <% } %>
                                </td>
                                <td>
                                    <% for (let i = 0; i < data['capstone']['recommend'].length; i++){ %>
                                        <%= data['capstone']['recommend'][i] %><br>
                                    <% } %>
                                </td>
                                <td><%= data['capstone']['progress']['credit'] %></td>
                            </tr>
                            <tr>
                                <th scope="row" class="table-secondary">Elective</th>
                                <td><%= data['elective']['progress']['takenNum'] %>
                                    /<%= data['elective']['progress']['requiredNum'] %></td>
                                <td>
                                    <% for (let i = 0; i < data['elective']['taken'].length; i++){ %>
                                        <%= data['elective']['taken'][i] %><br>
                                    <% } %>
                                </td>
                                <td>
                                    <% for (let i = 0; i < data['elective']['recommend'].length; i++){ %>
                                        <%= data['elective']['recommend'][i] %><br>
                                    <% } %> 
                                </td>
                                <td><%= data['elective']['progress']['credit'] %></td>
                            </tr>
                            <tr>
                                <th scope="row" class="table-dark">Total</th>
                                <td colspan="3"></td>
                                <td><%= total%>/48</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>